.imageC {
    display: flex;
    justify-content: center;
}
.container {
    padding: 40px 0.6em 40px 0.6em;
    background-color: whitesmoke;
}
.content {
    padding-top: 30px;
}
.content h2 {
    font-size: 1.5rem;
    width: 700;
    color: #0e314c;
}
.content p {
    color: #6084a4;
    font-size: 1.1rem;
    width: 90%;
}
@media (min-width:576px) {
    .content {
        width: 550px;
        margin: auto;
    }
}

@media (min-width: 768px) {
    .content {
        width: 80%;
        margin: 20px;
    }
}

@media (min-width: 800px) {
    .content {
        width: 80%;
        margin: auto;
    }
}

@media (min-width:992px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 3.5rem 50px 3.5rem;
    }
    .content {
        width: 100%;
    }
    .content h2 {
        font-size: 2vw;
    }
}